.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

p,
h4 {
  margin: 0;
}

p {
  font-weight: 600;
}

.signalera {
  position: absolute;
  top: 32px;
  right: 32px;
}

.signalera-dark-mode {
  background-color: #312e51;
}
.signalera-dark-mode-text {
  color: #fefefe;
}

.signalera-light-mode {
  color: #312e51;
}

.signalera-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
}

.signalera-item-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 32px;
  max-width: 400px;
}

.signalera-body,
.signalera-title {
  text-align: left;
}

.signalera-primary-title {
  color: #00fa9a;
}
.signalera-primary-body {
  color: #ddfadb;
}
.signalera-secondary-title {
  color: #00ffff;
}
.signalera-secondary-body {
  color: #e0ffff;
}
.signalera-error-title {
  color: #f64747;
}
.signalera-error-body {
  color: #fdd8d8;
}
.signalera-warning-title {
  color: #f59208;
}
.signalera-warning-body {
  color: #fef2d7;
}
